@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    text-decoration: none;
    font-family: "Cabin", sans-serif;
    font-weight: 400;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    gap: 2rem;
    font-weight: 400;
}

body {
    border-top: 16px solid #000000;
    background: -webkit-linear-gradient(90deg, #000000,#e602028e);background: linear-gradient(90deg, #000000,#ff0000);
    color: aliceblue;
}

#meio {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    border-top: 0.5px solid #5a0303;
    padding-top: 2rem;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: 25px;
}

button {
    padding: 0.5rem;
    color: #e40000;
    border-color: 10px solid #5a0303;
    border-radius: 10px;
}

button:hover {
    background-color: rgb(117, 4, 4);
    color: aliceblue;
}

#meio2 {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1.5rem;
    border-top: 0.5px solid #5a0303;
    padding-top: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    padding-top: 2rem;
    gap: 2rem;
}

select {
    border: 5px solid #5a0303;
    border-radius: 10px;
    padding: 1rem;
    height: 2rem;
    color: aliceblue;
    background-color:#e40000;
    box-shadow: 8px 5px 5px #380202;
}

a {
    color: aliceblue;
    padding: 0.7rem;
    border-right: 0.3rem solid #500101;
    border-radius: 7px;
    height: 2rem;
    box-shadow: 5px 5px 8px #000000;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 0.5px solid #5a0303;
    padding: 32px;
    margin: 0.5rem;
}

#moto {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-left: 0.3rem solid #e40000;
    border-right: 0.3rem solid #500101;
    border-radius: 30px;
    box-shadow: 5px 5px 8px #000000;
    width: 25rem;
}

#logo {
    margin-left: 5rem;
    padding: 2rem;
    border-left: 0.3rem solid #e40000;
    border-right: 0.3rem solid #500101;
    border-radius: 10px;
    box-shadow: 5px 5px 8px #000000;
}

#imgfoot {
    display: block;
    margin: 0 auto;
    padding: 1rem;
    height: 15rem;
}